<section class="sidebar left-content col-lg-3 col-md-3 col-sm-12 col-xs-12 float-left no-padding-left">
    <div class="aside-right">
        <div class="aside hidden-sm hidden-xs">
            <!-- danh muc -->
            <div class="aside aside-mini-products-list">
                <div class="aside-title">
                    <h4     style="line-height: 40px;
                            color: #e03232;
                            font-weight: bold;
                            padding: 5px 10px;
                            text-transform: uppercase;
                            background: #f1f1f1;
                            border-width: 1px 1px 1px 5px;
                            border-style: solid;
                            border-color: #eee #eee #eee #e03232;">    Danh mục sản phẩm
                    </h4>
                </div>
                <div class="aside-content mini-products-list">
                    <div class='cssmenu-flyout'>
                        <ul>
                            <li>
                                <a href=""><span>Laptop DELL </span></a>
                                <div class="menu-sub-fly">
                                </div>
                            </li>
                            <li>
                                <a href=""><span>Laptop HP </span></a>
                                <div class="menu-sub-fly">
                                </div>
                            </li>
                            <li>
                                <a href=""><span>Laptop ASUS </span></a>
                                <div class="menu-sub-fly">

                                </div>
                            </li>
                            <li>
                                <a href=""><span>Laptop LENOVO </span></a>
                                <div class="menu-sub-fly">

                                </div>
                            </li>
                            <li>
                                <a href=""><span>Laptop ACER </span></a>
                                <div class="menu-sub-fly">
                                </div>
                            </li>
                            <li>
                                <a href=""><span>Laptop <strong>KHUYẾN MÃI </strong></span></a>
                                <div class="menu-sub-fly">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end danh muc -->
        </div>
        <!-- danh sach tin tuc -->
</section>

